PORT=3000
NODE_ENV=development

POSTGRES_DB_PORT=5432
POSTGRES_DB_PORT_EXPOSE=5433
POSTGRES_DB_NAME=nestjs_db
POSTGRES_DB_USER=postgres
POSTGRES_DB_PASSWORD=nestjs_password

RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest